/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap');

* {
    scrollbar-width: auto;
    scrollbar-color: #fff #000;
}

*::-webkit-scrollbar-track {
    background-color: #000;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

* ::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
}

body {
    background-color: #000;
}

.no-scroll {
    overflow: hidden;
}

.year, .badge {
    width: max-content;
}


.graduation::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyIDEwVjE2TTIyIDEwTDEyIDVMMiAxMEwxMiAxNUwyMiAxMFoiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik02IDEyVjE3QzkgMjAgMTUgMjAgMTggMTdWMTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
    margin-right: 7px;
}

.department::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDJIOVY4SDE1VjJaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMjIgMTZIMTZWMjJIMjJWMTZaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNOCAxNkgyVjIySDhWMTZaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNSAxNlYxMkgxOVYxNiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEyIDEyVjgiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
    margin-right: 7px;
}

.experience-item::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyIDExLjA4VjEyQzIxLjk5ODggMTQuMTU2NCAyMS4zMDA1IDE2LjI1NDcgMjAuMDA5MyAxNy45ODE4QzE4LjcxODIgMTkuNzA5IDE2LjkwMzMgMjAuOTcyNSAxNC44MzU0IDIxLjU4MzlDMTIuNzY3NCAyMi4xOTUzIDEwLjU1NzMgMjIuMTIxOSA4LjUzNDQ3IDIxLjM3NDZDNi41MTE2OCAyMC42MjczIDQuNzg0NjUgMTkuMjQ2MSAzLjYxMDk2IDE3LjQzNzFDMi40MzcyNyAxNS42MjggMS44Nzk3OSAxMy40ODgxIDIuMDIxNjggMTEuMzM2M0MyLjE2MzU2IDkuMTg0NTUgMi45OTcyMSA3LjEzNjMxIDQuMzk4MjggNS40OTcwNkM1Ljc5OTM1IDMuODU3ODEgNy42OTI3OSAyLjcxNTM3IDkuNzk2MTkgMi4yNDAxM0MxMS44OTk2IDEuNzY0OSAxNC4xMDAzIDEuOTgyMzIgMTYuMDcgMi44NTk5OSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTIyIDRMMTIgMTQuMDFMOSAxMS4wMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
    margin-right: 7px;
}

.education-item::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggM0gyVjE4SDlDMTAuNyAxOCAxMiAxOS4zIDEyIDIxVjdDMTIgNC44IDEwLjIgMyA4IDNaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYgMTJMMTggMTRMMjIgMTAiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0yMiA2VjNIMTZDMTMuOCAzIDEyIDQuOCAxMiA3VjIxQzEyIDE5LjMgMTMuMyAxOCAxNSAxOEgyMlYxNS43IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    margin-right: 7px;
}


.styled-list {
    position: relative;
}

.profile-photo {
    box-shadow: inset 0 0 0 2px hsl( 0 , 0% , 100%);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/*.styled-list::before {*/
/*  content: '';*/
/*  background: transparent;*/
/*  border-radius: 9999px;*/
/*  border: #fff solid 7px;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  display: inline-block;*/
/*  position: absolute;*/
/*  left: -2rem;*/
/*}*/



@tailwind base;
@tailwind components;
@tailwind utilities;